streamlit
python-dotenv
langchain_community
faiss-cpu
pysqlite3
transformers
tavily-python
sentence_transformers
langchain-openai
protobuf==3.20.2
chromadb
opentelemetry-api
opentelemetry-sdk
googleapis-common-protos
openai
langchain_openai
torch